.container{
    padding: 30px;
    background-color: #232323;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.input{
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    margin: 3px;
}

.select{
    height: 30px;
    padding:5px;
    margin: 3px;
    border-radius: 10px;
    size: 1;
}

.button{
    background-color: #C60E0D;
    color: white;
    border-radius: 10px;
    height:30px;
    padding:5px;
    margin: 3px;
}


.normal{
    margin-top: 50px;
   
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-weight: bold;
    color: #C60E0D;
    align-items: center;
    margin-top: 50px;
     font-family: 'Trocchi', serif; 
     font-size: 45px; 
     font-weight: normal; 
     line-height: 48px;
}

.image img{
    width:100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.innerPost{
    margin: 20px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;

}
.description{
    padding: 20px 30px 10px 10px
}

.render{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 400px){
    .innerPost{
        margin: 20px;
        width: 70%;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
    
    }
}